$black: #333;
$white: #fff;
$light-grey: #ccc;

#App {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #eee;
  position: relative;
}

.center-box {  
  padding: 25px;
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  background-color: $white;
  border : 1px solid $light-grey;
  border-radius: 3px;
  cursor: pointer;
}

@mixin input-default {
  border: 1px solid $light-grey;
  border-radius: 3px;
  height: 26px;
  padding: 2px 10px;
}

@mixin box-default {
  border: 1px solid $light-grey;
  border-radius: 3px;
  background-color: $white;
}