@import "App.scss";

.dual-selector-wrap {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.search-input {
  @include input-default
}

.gray {
  background-color: gray;
}

.green {
  background-color: green;
}

.stop-dragging {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}