@import "App.scss";

.MoveBtn-flex {
  display: flex;
  flex-direction: column;
  margin: 60px 10px 0;
}

.MoveBtn-Button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.MoveBtn-Button:hover {
  background-color: $light-grey;
}
