@import "App.scss";

.MoveBtn-flex {
  display: flex;
  flex-direction: column;
  margin-left: 50vw;
  margin-top: 50vh;
}

.MoveBtn-Button {
  border: 2px solid $black;
  width: 100px;
  cursor: pointer;
}

.MoveBtn-Button:hover {
  background-color: $black;
  color: $white;
}
