@import "App.scss";

@mixin setting-box {
  border-bottom: 1px solid $light-grey;
  // background-color: cadetblue;
  padding: 5px 8px;
  font-size: 13px;
}

.settings-wrap {
  position: absolute;
  top: 1vw;
  right: 2vw;
}

.settings-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.settings {
  @include box-default;
  margin-top: 30px;
  right: 2vw;
  // 
  > div {
    // padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

.setting-item { 
  @include setting-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting-title-item {
  @include setting-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setting-last-item {
  padding: 5px 8px;
  font-size: 13px;

  div {
    padding: 5px 0;
  }
}

.size-input {
  @include input-default;
}

@mixin switch-box {
  width: 44px;
  height: 22px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  transition: all .3s;
}

.switch-box {
  @include switch-box;  
  input:checked + label {
    background-color: green;
  }
  label {
    width: 44px;
    height: 22px;
    display: block;
    background-color: $light-grey;
    cursor: pointer;
  }
}

.switch-checkbox {
  display: none;

  &:checked + .switch-label .ball {
    transform: translateX(22px);
  }
}

.ball {
  background-color: $white;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s;
}